# Add configuration values here, as shown below.
#
API_AUTHENTICATION_TOKEN: ''
ADMIN_AUTHENTICATION_USERNAME: ''
ADMIN_AUTHENTICATION_PASSWORD: ''
DB_USERNAME: ''
DB_PASSWORD: ''
DB_NAME: ''

test:
  API_AUTHENTICATION_TOKEN: ''
