API_AUTHENTICATION_TOKEN: 7381a978f7dd7f9a1117
ADMIN_AUTHENTICATION_USERNAME: megasoft_user
ADMIN_AUTHENTICATION_PASSWORD: b1yYlQfzG17LHK
DB_USERNAME: shahanahamzamamutty
DB_PASSWORD: shahana7
DB_NAME: megasoft_calc_development

test:
  API_AUTHENTICATION_TOKEN: abdc3b896a0ffb85d373